---
import { styled } from "styled-system/jsx";
import { siteConfig } from "@/../siteConfig";
import { ThemeSelector } from "./ThemeSelector";
import { GlobalHeaderMenu } from "./GlobalHeaderMenu";
import { getLangFromUrl, useTranslations, useLocalePath } from "@/i18n/utils";

interface Props {
  className?: string;
  isToppage?: boolean;
}

const { className, isToppage } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const localePath = useLocalePath(lang);

const Header = styled("header", {
  base: {
    h: "64px",
    pt: "sd.system.dimension.spacing.extraLarge",
    pr: "sd.system.dimension.spacing.threeExtraLarge",
    pb: "sd.system.dimension.spacing.extraLarge",
    pl: "sd.system.dimension.spacing.threeExtraLarge",
    display: "flex",
    justifyContent: "center",
    alignItems: "center",
    borderBottom: "solid",
    borderColor: "sd.system.color.component.outline",
    borderBottomWidth: "sd.system.dimension.border.medium",
    color: "web.system.color.component.onSurface",
    mdDown: {
      px: "24px",
    },
  },
  variants: {
    isToppage: {
      true: {
        color: "web.system.color.impression.onTertiary",
      },
    },
  },
});

const HeaderContainer = styled("div", {
  base: {
    w: "100%",
    maxW: "1440px",
    display: "flex",
    justifyContent: "space-between",
    alignItems: "center",
  },
});

const H1 = styled("h1", {
  base: {
    textStyle: "sd.system.typography.title.large_expanded",
    "& a:hover": {
      color: "web.system.color.impression.primary",
    },
  },
});

const Menu = styled("div", {
  base: {
    display: "flex",
    alignItems: "center",
    fontWeight: "sd.reference.typography.fontWeight.bold",
    gap: "sd.system.dimension.spacing.extraLarge",
    mdDown: {
      display: "none",
    },
  },
});

const MenuButton = styled("div", {
  base: {
    display: "none",
    mdDown: {
      display: "block",
    },
  },
});

const Link = styled("a", {
  base: {
    transition: "color 0.3s",
    _hover: {
      color: "web.system.color.impression.primary",
    },
  },
  variants: {
    active: {
      true: {
        color: "web.system.color.impression.primary",
      },
    },
  },
});

const menuItems = [
  { href: localePath("about"), text: t("nav.about") },
  { href: localePath("get-started"), text: t("nav.getStarted") },
  { href: localePath("foundations"), text: t("nav.foundations") },
  { href: localePath("components"), text: t("nav.components") },
];
---

<Header className={className} isToppage={isToppage}>
  <HeaderContainer>
    <H1>
      <a href={localePath("")}>{siteConfig.siteName}</a>
    </H1>
    <Menu>
      {
        menuItems.map((item) => (
          <Link
            active={Astro.url.pathname.startsWith(item.href)}
            href={item.href}
          >
            {item.text}
          </Link>
        ))
      }
      <ThemeSelector client:load />
    </Menu>

    <MenuButton>
      <GlobalHeaderMenu client:idle menuItems={menuItems} />
    </MenuButton>
  </HeaderContainer>
</Header>
