---
import { css } from "styled-system/css";
import icon01 from "../assets/headLineIcon/icon01.svg?raw";
import icon02 from "../assets/headLineIcon/icon02.svg?raw";
import icon03 from "../assets/headLineIcon/icon03.svg?raw";
import icon04 from "../assets/headLineIcon/icon04.svg?raw";
import icon05 from "../assets/headLineIcon/icon05.svg?raw";
import icon06 from "../assets/headLineIcon/icon06.svg?raw";

interface Props {
  number: number;
}

const { number } = Astro.props;

const icons = [icon01, icon02, icon03, icon04, icon05, icon06];
const icon = icons[number % icons.length];
const id = `section-${number}`;

export const snackBarClassName = css({
  position: "fixed",
  top: "24px",
  right: "24px",
  backgroundColor: "#0A69CF", //TODO: theme
  py: "sd.system.dimension.spacing.extraLarge",
  px: "sd.system.dimension.spacing.twoExtraLarge",
  textStyle: "sd.system.typography.body.small",
  fontWeight: "sd.reference.typography.fontWeight.bold",
  lineHeight: "1",
  color: "#fff",
  textAlign: "center",
  borderRadius: "sd.system.dimension.radius.extraLarge",
  opacity: 0,
  transition: "opacity 0.3s ease-in-out",
});
---

<astro-page-headline data-snackBarClassName={snackBarClassName}>
  <h2
    class={`group ${css({
      display: "grid",
      color: "web.system.color.component.onSurface",
      gridTemplateColumns: "max-content 1fr",
      alignItems: "center",
      gap: "sd.system.dimension.spacing.small",
      position: "relative",
      textStyle: "_Web.headline.h1_sp",
      fontWeight: "700",
      sm: {
        textStyle: "_Web.headline.h1",
      },
    })}`}
  >
    <a
      class={css({
        position: "absolute",
        left: "sd.system.dimension.spacing.medium",
        transform: "translateX(-100%)",
        px: "sd.system.dimension.spacing.medium",
        opacity: 0,
        _groupHover: {
          opacity: 1,
        },
      })}
      data-copy-url
      id={id}
      href={`#${id}`}
    >
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <g clip-path="url(#clip0_10233_19038)">
          <path
            d="M14.4105 22.0519H9.38483C7.71061 22.0519 6.2835 21.4619 5.1035 20.2819C3.9235 19.1021 3.3335 17.6752 3.3335 16.0012C3.3335 14.3272 3.9235 12.9001 5.1035 11.7199C6.2835 10.5394 7.71061 9.94922 9.38483 9.94922H14.4105V11.9492H9.38483C8.26505 11.9492 7.30994 12.3446 6.5195 13.1352C5.72883 13.9259 5.3335 14.881 5.3335 16.0006C5.3335 17.1201 5.72883 18.0752 6.5195 18.8659C7.30994 19.6566 8.26505 20.0519 9.38483 20.0519H14.4105V22.0519ZM11.0002 17.0006V15.0006H21.0002V17.0006H11.0002ZM17.5898 22.0519V20.0519H22.6155C23.7353 20.0519 24.6904 19.6566 25.4808 18.8659C26.2715 18.0752 26.6668 17.1201 26.6668 16.0006C26.6668 14.881 26.2715 13.9259 25.4808 13.1352C24.6904 12.3446 23.7353 11.9492 22.6155 11.9492H17.5898V9.94922H22.6155C24.2897 9.94922 25.7168 10.5392 26.8968 11.7192C28.0768 12.899 28.6668 14.3259 28.6668 15.9999C28.6668 17.6739 28.0768 19.101 26.8968 20.2812C25.7168 21.4617 24.2897 22.0519 22.6155 22.0519H17.5898Z"
            fill="#696966"></path>
        </g>
        <defs>
          <clipPath id="clip0_10233_19038">
            <rect width="32" height="32" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </a>
    <Fragment set:html={icon} />
    <slot />
  </h2>
</astro-page-headline>

<script>
  class PageHeadLine extends HTMLElement {
    constructor() {
      super();
      const link = this.querySelector<HTMLElement>("[data-copy-url]");
      if (!link) return;
      link.addEventListener("click", (event) => {
        event.preventDefault();
        const h2 = link.closest("h2");
        const url = new URL(window.location.href);
        url.hash = link.getAttribute("href") ?? "";
        navigator.clipboard.writeText(url.href);
        if (!h2) return;
        this.showSnackbar();
      });
    }

    showSnackbar() {
      // TODO: アイコンと閉じるボタンを追加
      const bar = document.createElement("div");
      bar.className = this.dataset.snackbarclassname ?? "";
      bar.textContent = "コピーしました";
      document.body.appendChild(bar);
      setTimeout(function () {
        bar.style.opacity = "1";
        setTimeout(function () {
          bar.style.opacity = "0";
          setTimeout(function () {
            document.body.removeChild(bar);
          }, 1000);
        }, 2000);
      });
    }
  }

  customElements.define("astro-page-headline", PageHeadLine);
</script>
