---
import { css } from "styled-system/css";
import icon01 from "../assets/headLineIcon/icon01.svg?raw";
import icon02 from "../assets/headLineIcon/icon02.svg?raw";
import icon03 from "../assets/headLineIcon/icon03.svg?raw";
import icon04 from "../assets/headLineIcon/icon04.svg?raw";
import icon05 from "../assets/headLineIcon/icon05.svg?raw";
import icon06 from "../assets/headLineIcon/icon06.svg?raw";

interface Props {
  number: number;
}

const { number } = Astro.props;

const icons = [icon01, icon02, icon03, icon04, icon05, icon06];
const icon = icons[number % icons.length];
const id = `section-${number}`;

export const snackBarClassName = css({
  cursor: "pointer",
  position: "fixed",
  top: "24px",
  w: "min(400px, calc(100vw - 48px))",
  right: "24px",
  display: "grid",
  gridTemplateColumns: "min-content 1fr min-content",
  gap: "sd.system.dimension.spacing.small",
  alignItems: "center",
  bg: "web.system.color.impression.primary",
  py: "sd.system.dimension.spacing.extraLarge",
  px: "sd.system.dimension.spacing.twoExtraLarge",
  textStyle: "sd.system.typography.body.small",
  fontWeight: "sd.reference.typography.fontWeight.bold",
  lineHeight: "1",
  color: "#fff",
  borderRadius: "sd.system.dimension.radius.extraLarge",
  opacity: 0,
  transition: "opacity 0.3s ease-in-out",
  boxShadow: "0px 4px 20px 0px rgba(11, 24, 63, 0.30)",
});
---

<astro-page-headline data-snack-bar-class-name={snackBarClassName}>
  <h2
    class={`group ${css({
      display: "grid",
      color: "web.system.color.component.onSurface",
      gridTemplateColumns: "max-content 1fr",
      alignItems: "center",
      gap: "sd.system.dimension.spacing.extraSmall",
      position: "relative",
      textStyle: "_Web.headline.h1_sp",
      fontWeight: "700",
      sm: {
        textStyle: "_Web.headline.h1",
        gap: "sd.system.dimension.spacing.small",
      },
    })}`}
  >
    <a
      class={css({
        position: "absolute",
        left: "sd.system.dimension.spacing.medium",
        transform: "translateX(-100%)",
        px: "sd.system.dimension.spacing.medium",
        opacity: 0,
        _groupHover: {
          opacity: 1,
        },
      })}
      data-copy-url
      id={id}
      href={`#${id}`}
    >
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <g clip-path="url(#clip0_10233_19038)">
          <path
            d="M14.4105 22.0519H9.38483C7.71061 22.0519 6.2835 21.4619 5.1035 20.2819C3.9235 19.1021 3.3335 17.6752 3.3335 16.0012C3.3335 14.3272 3.9235 12.9001 5.1035 11.7199C6.2835 10.5394 7.71061 9.94922 9.38483 9.94922H14.4105V11.9492H9.38483C8.26505 11.9492 7.30994 12.3446 6.5195 13.1352C5.72883 13.9259 5.3335 14.881 5.3335 16.0006C5.3335 17.1201 5.72883 18.0752 6.5195 18.8659C7.30994 19.6566 8.26505 20.0519 9.38483 20.0519H14.4105V22.0519ZM11.0002 17.0006V15.0006H21.0002V17.0006H11.0002ZM17.5898 22.0519V20.0519H22.6155C23.7353 20.0519 24.6904 19.6566 25.4808 18.8659C26.2715 18.0752 26.6668 17.1201 26.6668 16.0006C26.6668 14.881 26.2715 13.9259 25.4808 13.1352C24.6904 12.3446 23.7353 11.9492 22.6155 11.9492H17.5898V9.94922H22.6155C24.2897 9.94922 25.7168 10.5392 26.8968 11.7192C28.0768 12.899 28.6668 14.3259 28.6668 15.9999C28.6668 17.6739 28.0768 19.101 26.8968 20.2812C25.7168 21.4617 24.2897 22.0519 22.6155 22.0519H17.5898Z"
            fill="#696966"></path>
        </g>
        <defs>
          <clipPath id="clip0_10233_19038">
            <rect width="32" height="32" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </a>
    <div
      class={css({
        width: "32px",
        sm: {
          width: "45px",
        },
        "&>svg": {
          width: "100%",
          height: "auto",
        },
      })}
    >
      <Fragment set:html={icon} />
    </div>
    <slot />
  </h2>
</astro-page-headline>

<script>
  class PageHeadLine extends HTMLElement {
    constructor() {
      super();
      const link = this.querySelector("[data-copy-url]");
      if (!link) return;
      link.addEventListener("click", (event) => {
        event.preventDefault();
        const h2 = link.closest("h2");
        const url = new URL(window.location.href);
        url.hash = link.getAttribute("href") ?? "";
        navigator.clipboard.writeText(url.href);
        if (!h2) return;
        this.showSnackbar();
      });
    }

    showSnackbar() {
      const snackbar = document.createElement("div");
      snackbar.className = this.dataset.snackBarClassName ?? "";
      snackbar.innerHTML = `
          <div class="snackbar-icon">
            <svg width="21" height="26" viewBox="0 0 21 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.00084 19.2338C3.96641 19.7913 5.03233 20.1531 6.13774 20.2986C7.24315 20.4441 8.3664 20.3705 9.44336 20.082C10.5203 19.7934 11.5299 19.2955 12.4144 18.6168C13.299 17.938 14.0412 17.0917 14.5987 16.1262C15.1561 15.1606 15.518 14.0947 15.6635 12.9893C15.809 11.8838 15.7354 10.7606 15.4468 9.68364C15.1583 8.60668 14.6604 7.59711 13.9817 6.71256C13.3029 5.82801 12.4566 5.08582 11.491 4.52834" stroke="#FFE885" stroke-width="10"/>
            </svg>
          </div>
          <span>コピーしました</span>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.5996 5.34875L18.6533 6.4025L13.0533 12.0025L18.6533 17.6025L17.5996 18.6563L11.9996 13.0563L6.39957 18.6563L5.34582 17.6025L10.9458 12.0025L5.34582 6.4025L6.39957 5.34875L11.9996 10.9488L17.5996 5.34875Z" fill="currentColor"/>
          </svg>
      `;

      document.body.appendChild(snackbar);

      setTimeout(() => {
        snackbar.style.opacity = "1";
      }, 10);

      snackbar.addEventListener("click", () => this.hideSnackbar(snackbar));

      setTimeout(() => this.hideSnackbar(snackbar), 3000);
    }

    hideSnackbar(snackbar: HTMLDivElement) {
      snackbar.style.opacity = "0";
      setTimeout(() => {
        document.body.removeChild(snackbar);
      }, 300);
    }
  }

  customElements.define("astro-page-headline", PageHeadLine);
</script>
