---
import "@/index.css";
import { siteConfig } from "@/../siteConfig";

interface Props {
  title?: string;
}

const { title } = Astro.props;

const ogImage = new URL("/ogp.png", Astro.url).toString();

const pageTitle = title
  ? `${title} | ${siteConfig.siteName}`
  : siteConfig.siteName;
---

<!doctype html>
<html lang="ja" style="height: 100%">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={siteConfig.siteDescription} />
    <meta name="viewport" content="width=device-width" />
    <meta name="canonical" content={Astro.url.href} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:description" content={siteConfig.siteDescription} />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={siteConfig.siteDescription} />
    <meta property="twitter:image" content={ogImage} />
    <meta name="theme-color" content="" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{pageTitle}</title>

    <script is:inline>
      const storedTheme = localStorage.getItem("panda-theme");
      if (storedTheme) {
        document.documentElement.setAttribute("data-panda-theme", storedTheme);
      }
    </script>

    <style is:global>
      @font-face {
        font-family: "SerendieOfficeVF";
        src: url("/fonts/SerendieOfficeVF.ttf") format("truetype");
        font-weight: 50;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </head>
  <slot />
</html>
